.btn-back {
  margin-bottom: 20px;
}

.btn-edit {
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: rgb(179, 233, 251);
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.status-container {
  display: flex;
  align-items: center;
}

.toggle-container {
  text-align: end;
  width: 120px;
}

.btn-nodone {
  margin-left: 10px;
  background-color: rgb(253, 174, 174);
}

.description {
  text-indent: 15px;
}
