<div class="tasks-header">
  <h2>Список задач</h2>
  <button class="btn btn-new" (click)="openModal()">Добавить задачу</button>
</div>
<div *ngIf="data$ | async as data">
  @if (!data.length) {
    <div>
      <h3 style="margin-left: auto; margin-right: auto;; width: fit-content;">У вас пока нет активных задач. Нажмите <b>"Добавить задачу"</b>, чтоб создать новую</h3>
    </div>
   }
   @for (item of data; track item) {
     <div class="list-item">
       <app-task-item [data]=item></app-task-item>
      </div>
  }
</div>

@if (formNew) {
  <app-form-new (close)="closeModal()" (save)="saveTask($event)"></app-form-new>
}
